{% extends 'base.html' %}

{% block content %}
<h2>About Us</h2>
<p>Welcome to ReSKILL, an online learning platform that empowers individuals to learn new skills anytime, anywhere.</p>
<p>Our mission is to provide high-quality, accessible education to anyone, anywhere in the world. <br>Whether you’re learning a new skill for career growth or personal development, we’ve got you covered.</p>
<p>ReSKILL offers courses in various fields, including programming, data science, and more. Join us today and start learning!</p>
{% endblock %}